/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

header .logo h1 {
    color: #fff;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

header nav ul li {
    margin: 0 1.5rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Intro Section */
.intro {
    background-color: #fff;
    text-align: center;
    padding: 3rem;
}

.intro h2 {
    color: #444;
}

.intro p {
    font-size: 1.2rem;
}

/* Highlight Section */
.highlight {
    background-color: #f9f9f9;
    text-align: center;
    padding: 2rem;
}

.project-cards {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.project-cards .card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10rem;
    width: 10%;
}

.project-cards .card img {
    width: 10%;
    height: 50px;
}

.project-cards .card h3 {
    margin-top: 2rem;
}

/* Services Section */
.services {
    background-color: #fff;
    padding: 2rem 10%;
    text-align: center;
}

.services .service-card {
    background-color: #f4f4f4;
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
    text-align: center;
}

/* Product & Project Cards */
.product-card, .project-card {
    background-color: #fff;
    padding: 5rem;
    text-align: center;
}

.company-profile .logo {
    width: 100%;
    height: auto; /* Adjust height as needed */
    background-size: cover; /* Ensures full coverage */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
}


.product-card img, .project-card img {
    width: 100%;
    height: auto;
}

/* Contact Form */
.contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.contact form input,
.contact form textarea {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
}

.contact form button {
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

